@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.lightingEffect {
    animation: lighting 5.9s infinite; /* Adjust the duration from 1s to n */
    background: linear-gradient(90deg, transparent, #00ff00, transparent);
    background-size: 200% 100%;
  }
  
  @keyframes lighting {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

  .card-gradient {
    background-image: linear-gradient(45deg, #0b2711, #000000);
    position: relative;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(238, 233, 233, 0.1);
    padding: 1rem;
    transition: all 0.3s ease;
    
  }
  
  .card-box-shadow {
    box-shadow: 0 4px 6px -1px rgba(46, 220, 27, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card-box-shadow-hover:hover {
  box-shadow: 0 20px 25px -5px rgba(251, 75, 5, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card-active:active {
    background-image: linear-gradient(45deg, #40e040, #39f248);
    transform: scale(0.98);
    transition: all 0.2s ease;
  }

  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  
  .loading-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 11;
  }


.card-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card-icons > * {
  margin-right: 10px;
}

.card-icons:last-child {
  margin-right: 0;
}

.post-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #000000;
  border-bottom: 1px solid #e5e5e5;
}

.post-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-info {
  font-size: 14px;
  color: #888;
}

.post-author {
  margin-right: 10px;
}

.post-image {
  max-width: 100%;
  height: 100;
}


@media only screen and (max-width: 768px) {
  .quill-container  {
    max-width: 190% !important;
  }
}